In [102]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.svm import SVR
import os

In [4]:
os.rename('train (2).csv', 'house_price.csv')

In [106]:
df= pd.read_csv('house_price.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [19]:
print("No of Columns: ", df.shape[1])

No of Columns:  81

In [10]:
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [20]:
for k in df.columns:
    print(k, ":      ", df[k].dtype)

Id :       int64
MSSubClass :       int64
MSZoning :       object
LotFrontage :       float64
LotArea :       int64
Street :       object
Alley :       object
LotShape :       object
LandContour :       object
Utilities :       object
LotConfig :       object
LandSlope :       object
Neighborhood :       object
Condition1 :       object
Condition2 :       object
BldgType :       object
HouseStyle :       object
OverallQual :       int64
OverallCond :       int64
YearBuilt :       int64
YearRemodAdd :       int64
RoofStyle :       object
RoofMatl :       object
Exterior1st :       object
Exterior2nd :       object
MasVnrType :       object
MasVnrArea :       float64
ExterQual :       object
ExterCond :       object
Foundation :       object
BsmtQual :       object
BsmtCond :       object
BsmtExposure :       object
BsmtFinType1 :       object
BsmtFinSF1 :       int64
BsmtFinType2 :       object
BsmtFinSF2 :       int64
BsmtUnfSF :       int64
TotalBsmtSF :       int64
Heating :       object
HeatingQC :       object
CentralAir :       object
Electrical :       object
1stFlrSF :       int64
2ndFlrSF :       int64
LowQualFinSF :       int64
GrLivArea :       int64
BsmtFullBath :       int64
BsmtHalfBath :       int64
FullBath :       int64
HalfBath :       int64
BedroomAbvGr :       int64
KitchenAbvGr :       int64
KitchenQual :       object
TotRmsAbvGrd :       int64
Functional :       object
Fireplaces :       int64
FireplaceQu :       object
GarageType :       object
GarageYrBlt :       float64
GarageFinish :       object
GarageCars :       int64
GarageArea :       int64
GarageQual :       object
GarageCond :       object
PavedDrive :       object
WoodDeckSF :       int64
OpenPorchSF :       int64
EnclosedPorch :       int64
3SsnPorch :       int64
ScreenPorch :       int64
PoolArea :       int64
PoolQC :       object
Fence :       object
MiscFeature :       object
MiscVal :       int64
MoSold :       int64
YrSold :       int64
SaleType :       object
SaleCondition :       object
SalePrice :       int64

In [100]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [104]:
df = df[df.isnull().sum(axis=1) < df.shape[1]*(0.6)]

In [105]:
df.shape

(1354, 81)

In [31]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
lab_enc= LabelEncoder()

In [36]:
for k in df.columns:
    if(df[k].dtype== object):
        print(k)
    df[k]= lab_enc.fit_transform(df[k])

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

In [43]:
df.drop(columns= ["Id"], inplace=True)

In [45]:
df.dtypes

MSSubClass       int64
MSZoning         int32
LotFrontage      int64
LotArea          int64
Street           int32
                 ...
MoSold           int64
YrSold           int64
SaleType         int32
SaleCondition    int32
SalePrice        int64
Length: 80, dtype: object

In [49]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
for k in df.columns:
    if(df[k].dtype!=np.int32):
        df[k]= scaler.fit_transform(np.array(df[k]).reshape(-1, 1))

In [50]:
df.dtypes

MSSubClass       float64
MSZoning           int32
LotFrontage      float64
LotArea          float64
Street             int32
                  ...
MoSold           float64
YrSold           float64
SaleType           int32
SaleCondition      int32
SalePrice        float64
Length: 80, dtype: object

In [51]:
from sklearn.model_selection import train_test_split
X= df.iloc[:, :-1]
y= df.iloc[:, -1]
XTrain, x_test, YTrain, y_test= train_test_split(X, y, train_size= 0.8)

In [54]:
svrRegressor= SVR()
svrRegressor.fit(XTrain, YTrain)

SVR()

In [56]:
predicts= svrRegressor.predict(x_test)

In [63]:
from sklearn.metrics import r2_score
r2_score(predicts, y_test)

0.8923858365342513

In [79]:
from sklearn.model_selection import GridSearchCV
svr_gs= SVR(verbose= True)
params= {"degree": [3, 5, 6, 10], "tol": [0.0001, 0.001, 0.0003, 0.00001],
        "C": [1, 0.5, 2]}
grid_model= GridSearchCV(svr_gs, param_grid= params, n_jobs= -1,
                        verbose= 3, cv= 5, scoring= sklearn.metrics.r2_score)
grid_model.fit(X, y)

Fitting 5 folds for each of 48 candidates, totalling 240 fits
[LibSVM]

C:\Users\smurk\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=SVR(verbose=True), n_jobs=-1,
             param_grid={'C': [1, 0.5, 2], 'degree': [3, 5, 6, 10],
                         'tol': [0.0001, 0.001, 0.0003, 1e-05]},
             scoring=<function r2_score at 0x000001E412941D30>, verbose=3)

In [80]:
s= grid_model.best_estimator_
s.fit(XTrain, YTrain)

[LibSVM]

SVR(C=1, tol=0.0001, verbose=True)

In [81]:
r2_score(y_test, s.predict(x_test))

0.9042579175174715

In [83]:
from sklearn.tree import DecisionTreeRegressor
dt_model= DecisionTreeRegressor()
dt_model.fit(XTrain, YTrain)

DecisionTreeRegressor()

In [84]:
print("R2_Score for DecisionTree Classifier"r2_score(dt_model.predict(x_test), y_test)

0.746193638870624

In [93]:
dt_grid= DecisionTreeRegressor()
params_dt= {"max_depth": [3, 5, 7, 11, None], "max_features": ['auto', 'sqrt', 'log2'],
           "min_samples_leaf": [1, 3, 5, 10]}
grid_dt= GridSearchCV(dt_grid, param_grid= params_dt, verbose= True, refit=True, n_jobs= -1)
grid_dt.fit(X, y)

Fitting 5 folds for each of 60 candidates, totalling 300 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 11, None],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_leaf': [1, 3, 5, 10]},
             verbose=True)

In [96]:
# We Improved our performance from Hyperparameter Tuning but 
# still couldnt match SVR 
s= grid_dt.best_estimator_
s.fit(XTrain, YTrain)
r2_score(s.predict(x_test), y_test)

0.8061342857994832